#form-main {
    grid-area: main;
    margin: 10% 0px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    gap: 5%;
}

#form-main > form {
    grid-area: 1 / 1 / span 6 / span 3;
}

.form-container {
    display: grid;
    grid-template-areas: 
    'fname  fbgcolor'
    'fname  fntcolor'
    'textarea textarea';
    gap: 20px
}


.labelinputpair {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    justify-content: start;
    align-content: center;
}

.form-container .fname {
    grid-area: fname;
}

.labelinputpair > label {
    grid-column-start: 1;
    align-self: center;
}

.labelinputpair > input {
    grid-column-start: 2;
    justify-content: left;
}

.form-container  .fbgcolor {
    grid-area: fbgcolor;
}

.form-container .fntcolor {
    grid-area: fntcolor;
}

.form-container textarea {
    grid-area: textarea;
    margin: 10px;
    padding: 10px;
    height: 200px;
}


/*TODO: Understand how to implement preview */

#form-main > .preview {
    grid-area: 1/ 4 / span 6 / span 3;
    text-align: center;
    align-content: center;
    max-width: 100%;
}