/*
    Overriding general container
*/
.container {
    grid-template-areas: 
    'header header header header header header header header header header header header'
    'main main main main main main preview preview preview preview preview preview'
    'main main main main main main preview preview preview preview preview preview'
    'main main main main main main preview preview preview preview preview preview'
    'main main main main main main preview preview preview preview preview preview'
    'main main main main main main preview preview preview preview preview preview'
    'main main main main main main preview preview preview preview preview preview'
    'main main main main main main preview preview preview preview preview preview'
    'main main main main main main preview preview preview preview preview preview'
    'main main main main main main preview preview preview preview preview preview'
    'main main main main main main preview preview preview preview preview preview'
    'footer footer footer footer footer footer footer footer footer footer footer footer';
}

/*
    Placing the form into the 'main' portion of the grid.
*/

#form-main {
    grid-area: main;
}

/*
    Grid container to customize form formatting
*/
.form-container {
    display: grid;
    grid-template-areas: 
    'fname fname  fbgcolor fbgcolor'
    'ffntcolor ffntcolor fbrdcolor fbrdcolor'
    'textarea textarea textarea textarea'
    'textarea textarea textarea textarea'
    'textarea textarea textarea textarea'
    'textarea textarea textarea textarea'
    'textarea textarea textarea textarea'
    'submit submit reset reset';
    gap: 20px;
}

/*
    Adding margins to all childs of the container
*/
.form-container > * {
    margin: 0 4%;
}


input[type=text]:focus {
    outline: none; /*Removes outline from focused text input*/
}

input[type=color] {
    border: none;
    outline: none;
    background-color: blanchedalmond;
}

/* Name input */

.form-container .fname {
    grid-area: fname;
    align-content: center;
}

/* Background color input */

.form-container  .fbgcolor {
    grid-area: fbgcolor;
    align-content: center;
}

.form-container .fbrdcolor {
    grid-area: fbrdcolor;
    align-content: center;
}

/* Font color input */

.form-container .ffntcolor {
    grid-area: ffntcolor;
    align-content: center;
}

/*
    Added spacing between table items
*/

.form-container table {
    border-spacing: 10px;
}

/* Message input */

.form-container textarea {
    grid-area: textarea;
    margin: 2% 2%;
    padding: 10px;
    height: 200px;
    resize: none; /* User cannot resize manually */
}

.form-container textarea:focus {
    outline: none;
}

/* Button styling section */

input[type=submit], input[type=reset]{
    height: 35px;
    border: none;
    background-color: #ffe278;
}

input[type=submit]:hover, input[type=reset]:hover {
    background-color: #f7da72;
}

.form-container input[type=submit] {
    grid-area: submit;
    justify-self: center;
    width: 40%;
}

.form-container input[type=reset] {
    grid-area: reset;
    justify-self: center;
    width: 40%;
}


/*TODO: Understand how to implement preview */

.preview {
    grid-area: preview;
    text-align: center;
    align-content: center;
}

.test {
    overflow-y: scroll;
}


/* Responsive layout section */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #form-main {
        grid-area: 2/ 1/ span 5/ span 12;   
    }

    .preview {
        grid-area: 7/ 1/ span 5/ span 12;
    }
    .form-container {
        grid-template-areas: 'fname' 'ffntcolor' 'fbgcolor' 'fbrdcolor' 'textarea' 'textarea' 'submit' 'reset';
    }
    .form-container > * {
        margin: 1% 2%;
    }

    .form-container input[type=submit], .form-container input[type=reset] {
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) {
    .container {
        grid-template-areas: 
        'header header header header header header header header header header header header'
        'main main main main preview preview preview preview preview preview preview preview'
        'main main main main preview preview preview preview preview preview preview preview'
        'main main main main preview preview preview preview preview preview preview preview'
        'main main main main preview preview preview preview preview preview preview preview'
        'main main main main preview preview preview preview preview preview preview preview'
        'main main main main preview preview preview preview preview preview preview preview'
        'main main main main preview preview preview preview preview preview preview preview'
        'main main main main preview preview preview preview preview preview preview preview'
        'main main main main preview preview preview preview preview preview preview preview'
        'main main main main preview preview preview preview preview preview preview preview'
        'main main main main preview preview preview preview preview preview preview preview'
        'footer footer footer footer footer footer footer footer footer footer footer footer';
    }
    .form-container {
        grid-template-areas: 'fname' 'ffntcolor' 'fbgcolor' 'fbrdcolor' 'textarea' 'textarea' 'submit' 'reset';
    }
    .form-container > * {
        margin: 1% 2%;
    }
    .form-container input[type=submit], .form-container input[type=reset] {
        width: 100%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){
    .form-container {
        display: grid;
        grid-template-areas: 
        'fname fname  fbgcolor fbgcolor'
        'ffntcolor ffntcolor fbrdcolor fbrdcolor'
        'textarea textarea textarea textarea'
        'textarea textarea textarea textarea'
        'textarea textarea textarea textarea'
        'textarea textarea textarea textarea'
        'textarea textarea textarea textarea'
        'submit submit reset reset';
        gap: 20px
    }

    .form-container input[type=submit] {
        grid-area: submit;
        justify-self: center;
        width: 40%;
    }
    
    .form-container input[type=reset] {
        grid-area: reset;
        justify-self: center;
        width: 40%;
    }
}