body {
    background-image: url(/images/post-background.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.posts-table {
    display: grid;
    padding: 2%;
    gap: 10px;
    align-content: space-evenly;
}

.posts-table div {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5%;
}


@media only screen and (max-width: 600px) {
    .posts-table {
        grid-template-columns: auto;
    }
}

@media only screen and (min-width: 600px) {
    .posts-table {
        grid-template-columns: auto auto;
    }
}

@media only screen and (min-width: 992px) {
    .posts-table {
        grid-template-columns: auto auto auto;
    }
}