/*
    Fonts:
    Arial (sans-serif)
    Verdana (sans-serif)
    Tahoma (sans-serif)
    Trebuchet MS (sans-serif)
    Times New Roman (serif)
    Georgia (serif)
    Garamond (serif)
    Courier New (monospace)
    Brush Script MT (cursive)
*/

* {
    margin : 0;
    box-sizing: border-box;
}

body {
    font-family: Tahoma, Verdana, sans-serif;
    background-color: blanchedalmond;
    font-size: 100%;
}

header {
    display: grid;
    grid-template-columns: auto auto;
    place-content: center space-between;
    padding: 15px 40px;
}

header > nav > ul {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    padding: 10px;
    column-gap: 30px;
    list-style: none;
}


header > a > div.web-logo {
    background: url(/icons/post-it.png) 0 0;
    background-size: cover;
    padding: 10px;
    background-repeat: no-repeat;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header a.header-link {
    font-family: "Dancing Script", cursive;
    color: black;
    font-size: 1.5em;
    text-decoration: none;
}

header a.header-link:hover {
    font-family: "Dancing Script", cursive;
    color: rgba(198, 117, 4, 0.623);
    text-decoration: none;
}

header a.header-link > div:hover {
    transform: scale(120%);
}

.web-page-front {
    display: flex;
    justify-content: center;
    align-content: center;
    color: rgba(192, 173, 4, 0.762);
    font-size: 7em;
    font-family: "Dancing Script", cursive;
}


/*
.dancing-script-<unique> {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
*/