/*
    Fonts:
    Arial (sans-serif)
    Verdana (sans-serif)
    Tahoma (sans-serif)
    Trebuchet MS (sans-serif)
    Times New Roman (serif)
    Georgia (serif)
    Garamond (serif)
    Courier New (monospace)
    Brush Script MT (cursive)
*/


/*
    CSS styling basics applied
    to all elements
*/
* {
    margin : 0;
    box-sizing: border-box;
}

/*
    CSS styling applied to
    the body.
*/
body {
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 100%; /* This is set to avoid errors when sizing font using em (it's a scalable font unit size)*/
    background-color: blanchedalmond; /* The background is the same for every page */
}

/* General Container */

.container {
    display: grid;
    grid-template-areas: 
        'header header header header header header header header header header header header'
        'main main main main main main main main main main main main'
        'main main main main main main main main main main main main'
        'main main main main main main main main main main main main'
        'main main main main main main main main main main main main'
        'main main main main main main main main main main main main'
        'main main main main main main main main main main main main'
        'main main main main main main main main main main main main'
        'main main main main main main main main main main main main'
        'footer footer footer footer footer footer footer footer footer footer footer footer';
    gap: 10px 0;
    padding: 10px;
}

.container > div {
    padding: 10px;
}

/* Header styling section */

.webpage-header {
    grid-area: header;
    display: grid;
    grid-template-columns: auto auto;
    place-content: center space-between;
}

/* Header anchor styling section */

.webpage-header a.header-link {
    color: black;
    font-size: 1.5em;
    text-decoration: none;
}

.webpage-header a.header-link:hover {
    color: rgba(198, 117, 4, 0.623);
    text-decoration: none;
}

/* 
    The following definitions are needed to
    create a transition.
    (Transitions are possible only in container
    type elements such as div article section etc...)
*/

.webpage-header a.header-link > div {
    transition: transform 0.2s ease-in-out;
}

.webpage-header a.header-link > div:hover {
    transform: scale(120%);
}

.webpage-header > a > div.web-logo {
    background-image: url(/images/post-it.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
}

/* nav styling section*/ 

.webpage-header > nav > ul {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    padding: 10px;
    column-gap: 30px;
    list-style: none;
}

/* Main section*/

/*
    This item is part of the web-site homepage.
    Therefore it is correct to style it using the id selector,
    due to it not being present in any other page.
*/

#webpage-main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-content: center;
}

#webpage-main > div {
    text-align: center;
    color: rgba(192, 173, 4, 0.762);
}

/* Footer section */

.webpage-footer {
    grid-area: footer;
}


.dancing-script-user {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


@media only screen and (max-width: 600px) {
    #webpage-main > div {
        padding: 10% 0%;
        font-size: 3em;
    }
}

@media only screen and (min-width: 600px) {
    #webpage-main > div {
        padding: 10% 5%;
        font-size: 4em;
    }
}

@media only screen and (min-width: 992px) {
    #webpage-main > div {
        padding: 15% 0;
        font-size: 7em;
    }
}